*
{
    background-color:  #8CC461;;;
}
.container2
{position: relative;
top:35px;    
height:690px;
width:98%;
background-color:transparent;
margin:5px;
padding:5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.images
{
background-color:transparent;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
top:80px;
    height:500px;
    width:100%;
    margin:10px;
    padding:20px;
  
  
}
.text
{   
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:transparent;
     height:350px;
    width:100%;
    margin:2px;
    padding:2px;
    position: relative;
    bottom:140px;
  


}
.btn
{    height:50px;
    width:80px;
    margin:auto;
    padding:auto;
position: relative;
background-color: transparent;
bottom:160px;
right:25px;

}
.cup
{ margin:auto;
    padding:auto;
    background-color: transparent;
    position:relative;
  
   
   top:220px;

}
.star1
{ margin:auto;
    padding:auto;
    background-color: transparent;
    position:relative;
    right:210px;
    top:37px;
}
.star3
{ margin:auto;
    padding:auto;
    background-color: transparent;
    position: relative;
  right:145px;
  bottom:185px;
}
.star9
{ margin:auto;
    padding:auto;
    background-color: transparent;
    position: relative;
   right:170px;
   bottom:165px;
}
.star5
{position: relative;
    background-color: transparent;
right:150px;
bottom:15px;
    margin:auto;
    padding:auto;
   
}
.star4
{margin:auto;
    padding:auto;
    position: relative;
    background-color: transparent;
    right:30px;
    bottom:270px;
    
}

.star6{
    position:relative;
    bottom:175px;
    left:170px;
    background-color: transparent;
}
.star2
{
    position: relative;
    background-color: transparent;
    bottom:455px;
    left:105px;
}
.star8
{
    position: relative;
    background-color: transparent;
    margin:auto;
    padding: auto;
    bottom:460px;
    left:190px;
}
.heading
{
    font-family: 'arial';
font-style: normal;
font-weight: 580;
font-size: 90px;
line-height: 7px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
position: relative;


background-color: transparent;
}
.headingsupport
{   font-family: 'arial';
    font-style: normal;
    font-weight: 550;
    font-size: 41px;
    line-height: 107px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    position: relative;
    bottom:65px;
    background-color: transparent;
margin:auto;
padding:auto;
}
.playagain
{
    height:40px;
    width:150px;
    background-color: white;
    border-radius: 9px;
    border-color:white;
    position: relative;
   
    font-family: 'arial';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
letter-spacing: 0.1em;

color: #6B6B6B;
}
.rules
{
  
    position:fixed;
    height:40px;
    width:120px;
    background-color: transparent;
    right:5%;
    bottom:20px;
    border:2px solid white;
    border-radius: 10px;
    font-family: 'arial';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.1em;

color: #FFFFFF;
}




.rulebox
{display:none;
 
  height:360px;
  width:305px;
 z-index: 15;
 
  position:fixed;
padding-right:10px;
  right:90px;
  bottom:90px;
  background-color: #004429;
border: 7px solid #FFFFFF;
border-radius: 13px;
color: white;
font-family: 'arial';
font-style: normal;
padding-left:5px;
padding-top:10px;

}

.cbutton
{padding:1px;
  margin:1px;
  height: 80px;
  width:70px;
  position: relative;
  bottom: 397px;
  left:290px;
  background-color: transparent;
}
.closebutton
{  
  background-color: red;
  height:60px;
  width:60px;
border: 5px solid #FFFFFF;
border-radius: 45px;
background-image: url(images/X.svg) ;
background-repeat: no-repeat;
background-position: center;

}

ul {
  list-style: none; /* Remove default bullets */
  background-color: transparent;
}

ul li::before {
  content: "\25AA";  
  color: rgb(248, 234, 39); 
  position: relative;
  top:18px;
  font-size: 2rem; 
  display: inline-block;
  width: 1em; 
  margin-left: -1em; 
margin-top:0.1em;


}
li{
  background-color: transparent;

}

.rulelist{
  position: relative;
background-color: transparent;
  top:0px;

}
.header1
{
font-size: 40px;
font-family: 'arial';
font-style: normal;
font-weight: 550;
font-size: 32px;
line-height: 34px;
position:relative;
top:10px;
left:65px;
background-color: transparent;
color: #FFFFFF;


}
